# Exemple contenu du fichier .env d'informations secrétes 

# --- API KEYS MISTRAL---
MISTRAL_API_KEY=xxxxxxxxxxxxxxxxxxx

# --- CONFIGURATION SOURCE (Standard iCalendar) ---
# Choix possibles à ce stade avec la finalisation de OPENDATASOFT et DUMMY réalisée: OPENAGENDA, OPENDATASOFT, NEXTCLOUD, DUMMY
#EVENT_SOURCE=OPENAGENDA
#EVENT_SOURCE=DUMMY
EVENT_SOURCE=OPENDATASOFT
#EVENT_SOURCE=NEXTCLOUD

# --- CONFIGURATION OPENAGENDA ---
OPENAGENDA_ID=7430297
OPENAGENDA_API_KEY=yyyyyyyyyyyyyyyyyyyyyyyyyyyyyyy

# --- CONFIGURATION OPENDATASOFT ---
# OPENDATASOFT_API_KEY= (Laisser vide, c'est public, mais la variable doit exister si elle est appellée dans le code)
OPENDATASOFT_API_KEY=

# --- CONFIGURATION NEXTCLOUD ---
# NEXTCLOUD_API_KEY= (Laisser vide, c'est public, mais la variable doit exister si elle est appellée dans le code)
NEXTCLOUD_API_KEY=
NEXTCLOUD_ICS_URL=https://www.votre_nextcloud.com/remote.php/dav/calendars/zzzzzzzzzzzzzzzzzzz/test/?export
# --- AUTHENTIFICATION NEXTCLOUD ---
NEXTCLOUD_USER=didier.hernandez
NEXTCLOUD_PASSWORD=zzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzz



